[submodule "comet-commonsense"]
	path = comet-commonsense
	url = https://github.com/byron123t/comet-commonsense.git
[submodule "VGG-Speaker-Recognition"]
	path = VGG-Speaker-Recognition
	url = https://github.com/byron123t/VGG-Speaker-Recognition.git
[submodule "gpt-2"]
	path = gpt-2
	url = https://github.com/byron123t/gpt-2.git
[submodule "emotion-recognition-using-speech"]
	path = emotion-recognition-using-speech
	url = https://github.com/byron123t/emotion-recognition-using-speech.git
